In [1]:
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv')
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [2]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [3]:
new_col = []
for col in jeopardy.columns:
    col = col.strip()
    new_col.append(col)
jeopardy.columns = new_col

In [4]:
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [5]:
import re
def normalize_text(a_string):
    a_string = a_string.lower()
    a_string = re.sub('\W', ' ', a_string)
    return a_string
jeopardy['clean_question'] = jeopardy['Question'].apply(normalize_text)
jeopardy['clean_answer'] = jeopardy['Answer'].apply(normalize_text)

In [6]:
jeopardy['clean_answer']

0                                               copernicus
1                                               jim thorpe
2                                                  arizona
3                                               mcdonald s
4                                               john adams
5                                                  the ant
6                                           the appian way
7                                           michael jordan
8                                               washington
9                                           crate   barrel
10                                          jackie gleason
11                                                 the cud
12                                   ceylon  or sri lanka
13                                               jim brown
14                                            the uv index
15                                                  bulova
16                                             jesse james
17                                                     imp
18                                       the international
19                                             lou  gehrig
20                                                 morocco
21                                            paul  bonwit
22       hattie mcdaniel  for her role in gone with the...
23                                                     era
24                                      the congress party
25                                       wilt  chamberlain
26                                                      k2
27                                             ethan allen
28                                                     ply
29                                                  horton
                               ...
19969                                        steam engines
19970                                            petruchio
19971                                  stanford university
19972                                          emma watson
19973                                                   bo
19974                                   an antimatter bomb
19975                                         the iroquois
19976                                             pericles
19977                                               tulane
19978                                      kristen stewart
19979                                                   fo
19980                                           a conclave
19981                                     open door policy
19982                                               quince
19983                                              berklee
19984                                   michelle rodriguez
19985                                                   ur
19986                                              bernini
19987                                                 atom
19988                                  houston  lee brown
19989                                          buddy holly
19990                                         leif ericson
19991                                           bill gates
19992                                                 wool
19993                                              hostess
19994                                                   18
19995                                               prince
19996                                              galileo
19997                                      monica lewinsky
19998                                               camels
Name: clean_answer, Length: 19999, dtype: object

In [7]:
jeopardy['clean_question']

0        for the last 8 years of his life  galileo was ...
1        no  2  1912 olympian  football star at carlisl...
2        the city of yuma in this state has a record av...
3        in 1963  live on  the art linkletter show   th...
4        signer of the dec  of indep   framer of the co...
5        in the title of an aesop fable  this insect sh...
6        built in 312 b c  to link rome   the south of ...
7        no  8  30 steals for the birmingham barons  2 ...
8        in the winter of 1971 72  a record 1 122 inche...
9        this housewares store was named for the packag...
10                                         and away we go
11       cows regurgitate this from the first stomach t...
12       in 1000 rajaraja i of the cholas battled to ta...
13       no  1  lettered in hoops  football   lacrosse ...
14       on june 28  1994 the nat l weather service beg...
15       this company s accutron watch  introduced in 1...
16       outlaw   murdered by a traitor and a coward wh...
17       a small demon  or a mischievous child  who mig...
18       karl led the first of these marxist organizati...
19       no  10  fb lb for columbia u  in the 1920s  mv...
20       africa s lowest temperature was 11 degrees bel...
21       edward teller   this man partnered in 1898 to ...
22       1939 oscar winner      you are a credit to you...
23       in geologic time one of these  shorter than an...
24       this asian political party was founded in 1885...
25       no  5  only center to lead the nba in assists ...
26       the kirschner brothers  don   bill  named this...
27       revolutionary war hero   his spirit is in verm...
28       a single layer of paper  or to perform one s c...
29        a href  http   www j archive com media 2004 1...
                               ...
19969    in 1960 the last of these locomotives was reti...
19970    kate   if i be waspish  best beware my sting  ...
19971    this private college in northern california bo...
19972    she voiced princess pea in  the tale of desper...
19973    it s the name of the long awaited new white ho...
19974    langdon in  angels   demons  is looking for  a...
19975    in the 1600s most of new york state was occupi...
19976            marina s dad  need a hint  he rules tyre
19977    presidential kids are welcome at this new orle...
19978    she didn t vamp it up   did a bella job as em ...
19979    third syllable intoned by the giant who smells...
19980    much of  angels   demons  takes place at one o...
19981    in 1899 secretary of state john hay proclaimed...
19982    fruity surname of peter in  a midsummer night ...
19983    quincy jones  kevin eubanks   branford marsali...
19984    in 2009 she returned to being  fast   furious ...
19985    the book of genesis says this ancient city  of...
19986     habakkuk and the angel  is one of a series of...
19987    in medieval england  it meant the smallest uni...
19988    this texas city is the largest in the u s  to ...
19989                                         the crickets
19990    in the 990s this son of erik the red brought c...
19991    concerning a failed windows 98 demonstration  ...
19992    this llama product is used to make hats  blank...
19993    in 1967 this company introduced its chocolate ...
19994    of 8  12 or 18  the number of u s  states that...
19995                             the new power generation
19996    in 1589 he was appointed professor of mathemat...
19997    before the grand jury she said   i m really so...
19998    llamas are the heftiest south american members...
Name: clean_question, Length: 19999, dtype: object

In [8]:
def normalize_value(a_string):
    a_string = re.sub('\W', '', a_string)
    if a_string == 'None':
        a_string = 0
    else:
        a_string = int(a_string)
    return a_string

In [9]:
jeopardy['clean_value'] = jeopardy['Value'].apply(normalize_value)

In [10]:
jeopardy['clean_date'] = pd.to_datetime(jeopardy['Air Date'])

In [11]:
def not_study(row):
    split_answer = row['clean_answer'].split()
    split_question = row['clean_question'].split()
    match_count = 0
    if 'the' in split_answer:
        split_answer.remove('the')
    if len(split_answer) != 0:
        for word in split_answer:
            if word in split_question:
                match_count += 1
            else:
                continue
    else:
        return 0
    return match_count / len(split_answer)

In [12]:
jeopardy['answer_in_question'] = jeopardy.apply(not_study, axis=1)

In [13]:
jeopardy['answer_in_question'].mean()

0.06294645581984949

In [14]:
question_overlap = []
terms_used = set()
jeopardy = jeopardy.sort_values(by=['Air Date'])

In [16]:
for row in jeopardy.iterrows():
    split_question = row[1]['clean_question'].split(' ')
    split_question = [word for word in split_question if len(word) >= 6 ]
    match_count = 0
    for word in split_question:
        if word in terms_used:
            match_count += 1
    terms_used.add(word)
    if len(split_question) > 0:
        match_count = match_count / len(split_question)
    question_overlap.append(match_count)
jeopardy['question_overlap'] = question_overlap
jeopardy['question_overlap'].mean()

0.5254786645114725

In [17]:
def change_value(row):
    value = 1 if row['clean_value'] > 800 else 0
    return value

In [18]:
jeopardy['high_value'] = jeopardy.apply(change_value, axis=1)

In [25]:
def count_value(word):
    low_count = 0
    high_count = 0
    for row in jeopardy.iterrows():
        split_question = row[1]['clean_question'].split(' ')
        if word in split_question:
            if row[1]['high_value'] == 1:
                high_count += 1
            else:
                low_count += 1
    return low_count, high_count

In [26]:
from random import *
comparison_terms = sample(terms_used, 10)

In [27]:
observed_expected = []
for term in comparison_terms:
    observed_expected.append(count_value(term))

In [28]:
print(observed_expected)

[(5, 3), (7, 4), (1, 0), (1, 1), (4, 0), (1, 1), (2, 0), (1, 2), (2, 0), (1, 1)]

In [29]:
high_value_count = sum(jeopardy['high_value'] == 1)

In [34]:
low_value_count = sum(jeopardy['high_value'] == 0)

In [56]:
from scipy.stats import chisquare
import numpy as np
chi_squared = []
for item in observed_expected:
    total = sum(item)
    total_prop = total / len(jeopardy)
    high_expected = total_prop * high_value_count
    low_expected = total_prop * low_value_count
    observed = np.array(high_value_count, low_value_count)
    expected = np.array(high_expected, low_expected)
    chisq, p_value = chisquare([observed, expected])
    chi_squared.append([chisq, p_value])

TypeError: data type not understood

In [54]:
print(chi_squared)

[[5727.122524602264, 0.0], [5724.545361940761, 0.0], [5733.139914335717, 0.0], [5732.2799433457, 0.0], [5730.560345319671, 0.0], [5732.2799433457, 0.0], [5732.2799433457, 0.0], [5731.42008701275, 0.0], [5732.2799433457, 0.0], [5732.2799433457, 0.0]]

In [47]:
print(high_value_count)

5734

In [48]:
print(low_value_count)

14265

In [52]:
for item in observed_expected:
    total = sum(item)
    print(total / len(jeopardy) * high_value_count, total / len(jeopardy) * low_value_count)

2.2937146857342867 5.706285314265713
3.1538576928846442 7.846142307115356
0.28671433571678584 0.7132856642832142
0.5734286714335717 1.4265713285664283
1.1468573428671434 2.8531426571328566
0.5734286714335717 1.4265713285664283
0.5734286714335717 1.4265713285664283
0.8601430071503575 2.1398569928496425
0.5734286714335717 1.4265713285664283
0.5734286714335717 1.4265713285664283